page {
    display: block;
    min-height: 100%;
    background-color: rgb(254,187,217);
  }
  .page__hd{
    color: white;
    text-align: center;
    margin-bottom: 50px;
  }
  .page__title{
    margin-top: 16px;
    font-size: 15px;
  }
  .page__desc{
    margin-top: 5px;
    font-size: 12px;
  }
  .page__bd{
    width: 100%;
    margin-top: -35px;
  }
  .page__i{
    z-index: 1;
    margin: 10px auto;
    padding: 0 20px;
    width: 270px;
    height: 45px;
    margin-top:15px;
    background-color: white;
    border-radius: 20px;
    box-shadow:inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 10px rgb(248, 95, 120);
  }
  /*
  性别单选框
  */
/*性别选项*/
radio{
    margin: 10rpx;
}
.boy .swan-radio-input{
    width: 10px;
    height: 10px;
    border: 2px solid#2792ff;
  }
  .boy .swan-radio-input.swan-radio-input-checked::before{
    font-size: 0;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    line-height: 10px;
    text-align: center;
    background-color: rgb(248, 57, 120);
    border:2px solid rgb(248, 57, 120);
  }
  .girl{
    color: rgb(248, 57, 120);
  }
  .boy{
    color: #2792ff;
  }
  .girl .swan-radio-input{
    width: 10px;
    height: 10px;
    border:2px solid rgb(248, 57, 120);
  }
  .girl .swan-radio-input.swan-radio-input-checked::before{
    font-size: 0;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    line-height: 10px;
    text-align: center;
    background-color: rgb(248, 57, 120);
    border:2px solid rgb(248, 57, 120);
  }
  .theSex{
      display: flex;
      /*  */
      align-items: center;
      margin:0 auto;
      width:270px;
  }
  .radio1{
    z-index: 1;
  }
radio-group{
    z-index: 55;
    display: flex;
    margin-left:-50px;
    width:150px;
    border:1px solid red;
    /* position: absolute;
    right: 20%;
    top: 28%; */
}
 .textarea{
    margin: 8px auto;
    padding: 0 20px;
    width: 270px;
    height: 120px;
    padding:10px;
    background-color: white;
    border-radius: 20px;
    box-shadow:inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 10px rgb(248, 95, 120);
  }
  .button{
    position: absolute;
    margin:10px;
    right: 15%;
    bottom: 0;
    color: white;
    width: 280rpx;
    height: 70rpx;
    line-height: 70rpx;
    text-align: center;
    font-size: 40rpx;
    font-weight: 500;
    border-radius: 20px;
    background-color: rgb(255, 3, 24);
    box-shadow:inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 15px rgb(248, 95, 120);
  }
  .page__main{
      margin-top: -35px;
      /* border:1px solid red; */
  }
  .f-img{
        position: absolute;
        left: -10%;
        bottom: -5%;
  }