.page{
    background-color: #F9D2E7;
    padding:10px 20px;
    width: 100%;
    height: 160vw;
    overflow: hidden;
}
.page .top{
    text-align:center;

}
.page .top .title{
    color:#FE798C;
    font-size: 40rpx;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 2px;
}
.page .top .img{
    width:100%;
    height: 280rpx;
    margin:10px auto;
    box-sizing: border-box;
    background-color: wheat;
    margin-bottom: 15px;
}
.bottom{
    background-color:rgb(255, 233, 233);
    width:100%;
    height: 50%;
    padding:10px;
    border-radius: 15px;
}
/* .bottom .shutiao{
    width:50px;
    height: 100px;
    color:#FE798C;
} */
.bottom .zhinan{
    color:#FE798C;
}